@tailwind base;
@tailwind components;
@tailwind utilities;

.select-player {
  @apply p-2;
}
.pickImg {
  background-size: 241%;
  background-position: 52% 28%;
  background-repeat: no-repeat;
}
.pickImgEmpty {
  background-size: 100%;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/bg-empty.png");
}
.banImg {
  background-size: 360%;
  background-position: 51% 27%;
  background-repeat: no-repeat;
}

.banImgEmptyRight {
  background-size: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0) !important;
  background-color: #ec465a;
}

.banImgEmptyLeft {
  background-size: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0) !important;
  background-color: #00688a;
}

.img-empty {
  background-image: url("../public/bg-empty.png");
}

.background-draft {
  background-image: url("../public/backgrounds/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
.background-draft {
  background: rgb(0, 0, 255);
  background: linear-gradient(
    90deg,
    rgb(1, 1, 187) 6%,
    rgba(5, 0, 83, 1) 28%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 60%,
    rgba(92, 0, 0, 1) 72%,
    rgb(184, 0, 0) 94%
  );
}

.background-draft-to-red {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 6%,
    rgba(5, 0, 83, 1) 28%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 60%,
    rgba(92, 0, 0, 1) 72%,
    rgba(255, 0, 0, 1) 94%
  );
  background-size: 200% 200%;
  animation: gradient-to-red 1s ease forwards;
  height: 100vh;
}

.background-draft-to-blue {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 6%,
    rgba(5, 0, 83, 1) 28%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 60%,
    rgba(92, 0, 0, 1) 72%,
    rgba(255, 0, 0, 1) 94%
  );
  background-size: 200% 200%;
  animation: gradient-to-blue 1s ease forwards;
  height: 100vh;
}

@keyframes gradient-to-red {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradient-to-blue {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
.accent-line-small {
  width: 420px;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 6%,
    rgba(5, 0, 83, 1) 28%,
    rgba(29, 29, 29) 40%,
    rgba(29, 29, 29) 50%,
    rgb(29, 29, 29) 60%,
    rgba(92, 0, 0, 1) 72%,
    rgba(255, 0, 0, 1) 94%
  );
}

.bordi-bottone {
  border-radius: 15% 15% 15% 15% / 47% 48% 52% 52%;
  @apply border-white border-2;
}

.nameChampDraft {
  text-shadow: 0 0 8px #000, 0 0 2px #000, 0 0 2px #000;
}

.bordi-pick-left {
  border-radius: 0% 20% 12% 0% / 30% 40% 30% 30%;
}

.bordi-pick-right {
  border-radius: 20% 0% 0% 12% / 40% 41% 30% 15%;
}
